{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle:Universe:index.html.twig" %}

{% block title %}
  Les débouchés en informatique {{ parent() }}
{% endblock %}


{% block keegarticle_body %}

  	<h3> Les métiers de l'informatique </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">


		<h3>Introduction aux métiers de l'informatique</h3>

		<section class="article text-justify">

			<center>
				<a href="http://www.jobirl.com/images/page/internet.png" title="Cliquez pour agrandir"><img src="http://www.jobirl.com/images/page/internet.png" alt="les métiers de l'informatique" width="400"/></a>
				<div class="caption">
					<p><b> Les grandes catégories de métiers </b></p>
				</div>
			</center>

			<p>L'informatique fait aujourd'hui partie intégrante de la majorité des entreprises, à un tel point que le métier d'informaticien s'est diversifié en une multitudes de fonctions spécialisées, touchant aux réseau, au développement informatique, à la sécurité des systèmes informatiques ou encore à l'infographie ou l'ergonomie.</p>

			<p>A certains métiers correspondent des études particulières, tandis que la carence en informaticien rend la porte d'entrée de certaines fonctions techniques ouverte à tous. La bonne connaissance du c&oelig;ur de métier de chaque fonction peut permettre d'en conna&icirc;tre les spécificités, les limites ainsi que les compétences indispensables. <a name="exploitation"></a></p>

			<h4><b>Métiers de l'exploitation et de la production</b></h4>

			<p>Il s'agit du dernier maillon de la cha&icirc;ne, c'est-à-dire toutes les personnes chargées de vérifier le bon fonctionnement des systèmes informatiques et des réseaux, d'assister les utilisateurs dans l'utilisation des nouvelles technologies ou les dépanner en cas de problème. <a name="conception"></a></p>

			<h4><b>Métiers de la conception et du développement</b></h4>

			<p>Les métiers de la conception et du développement consistent à analyser un besoin, à concevoir des solutions, les modéliser informatiquement et les implémenter, c'est-à-dire les transcrire dans un langage informatique. Il s'agit de métiers alliant une capacité d'analyse à un esprit de synthèse et mettant en &oelig;uvre technique et créativité. <a name="conseil"></a></p>

			<h4><b>Métiers du conseil et de l'expertise</b></h4>

			<p>Les métiers du conseil et de l'expertise demandent un certain niveau d'expérience afin d'&ecirc;tre en mesure d'étudier les besoins ou les solutions existantes dans une entreprise afin d'aider à la mise en &oelig;uvre d'une nouvelle architecture. Les principaux domaines d'application sont les <a href="http://www.commentcamarche.net/contents/systeme-d-information/si-systeme-d-information.php3">systèmes d'information</a> ou la <a href="http://www.commentcamarche.net/contents/secu/secu-intro.php3">sécurité informatique</a>. <a name="formation"></a></p>

			<h4><b>Métiers de la formation et de l'enseignement</b></h4>

			<p>L'objectif des métiers de la formation et de l'enseignement est de permettre à un groupe d'individus d'acquérir des connaissances pratiques et théoriques sur un domaine donné en vue de l'évolution de leurs pratiques professionnelles. <a name="marketing"></a></p>

			<h4><b>Métiers du marketing</b></h4>

			<p>Les métiers du marketing, essentiellement orientés vers des profils commerciaux, ont pour objectif l'optimisation de la vente des produits et service de l'entreprise, gr&acirc;ce à la définition et la satisfaction des besoins des clients, la prospection de nouveaux clients, ainsi que la fidélisation de la clientèle. <a name="management"></a></p>

			<h4><b>Métiers du management</b></h4>

			<p>Le terme management renvoie à la capacité à définir une stratégie et à gérer les ressources d'une organisation afin d'atteindre les objectifs fixés. Les métiers du management demandent généralement des compétences et matière de gestion de projets, de gestion de ressources humaines et de gestion financière.</p>

			<p> Référence : <a href="http://www.commentcamarche.net/contents/685-metiers-de-l-informatique"> http://www.commentcamarche.net/contents/685-metiers-de-l-informatique </a></p>

		</section>
			
		</div>
	</div>
 
{% endblock %}