{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle:Universe:index.html.twig" %}

{% block title %}
  Les formations en informatique {{ parent() }}
{% endblock %}

{% block keegarticle_body %}

  	<h3> Les formations en informatique </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">

			

		</div>
	</div>
 
{% endblock %}