<html>
	<body>
	<p> Hello World !!!! </p>
	<form action='{{ path('keeg_article_edit') }}' method='post'>
	Modifier <input name='edit' placeholder="id"/><br><br>
	<textarea name='edit' placeholder="Nouvel article"></textarea>
	<input type='submit'>
	</body>
</html>