{# src/KEEG/ArticleBundle/Resources/views/Default/index.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
  Articles {{ parent() }}
{% endblock %}

{% block keegarticle_body %}

  	<h3>Articles</h3>

  	{% if listeItems is defined %}

		{{ render(controller("KEEGArticleBundle:Article:menu", {'limit': 10})) }}

	{% endif %}

	<p class="text-left"><a href="{{ path('keeg_article_search') }}">Rechercher un article</a></p>
  
{% endblock %}