{# src/KEEG/ActivityBundle/Resources/views/Projects/add.html.twig #}

{% extends "KEEGWebsiteBundle::admin.html.twig" %}

{% block title %}
	Modifier un témoignage {{ parent() }}
{% endblock %}

{% block body %}

		
	<h3>Modifier un témoignage</h3>

	{{ include("KEEGWebsiteBundle:Temoignage:editform.html.twig") }}

	<p class="text-right">
	    <a href="{{ path('keeg_admin_temoignages_view', {'id': temoignage.id}) }}" class="btn btn-default">
      		<i class="glyphicon glyphicon-chevron-left"></i>
      		Revenir au témoignage
    	</a>
  	</p>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	    CKEDITOR.replace( 'keeg_articlebundle_temoignage_edit[contenu]' );
	</script>
{% endblock %}