{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle:Universe:index.html.twig" %}

{% block title %}
  L'IUT Informatique de Lyon 1 {{ parent() }}
{% endblock %}


{% block keegarticle_body %}

  	<h3> L'IUT Claude Bernard de Lyon 1 - Site Doua </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">

			<center>
			    <iframe src="http://prezi.com/embed/kss4xcn4d8fd/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0#" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" frameborder="0" height="500" width="750"></iframe>
			</center>
			
			<div class="col-lg-12">

				<h3> L'IUT de Lyon 1 </h3>
				

				<p><big>L&#39;IUT de Lyon 1 a &eacute;t&eacute; cr&eacute;&eacute; par le directeur Christophe VITON en 1967 et est aujourd&#39;hui r&eacute;parti sur 3 sites :</big></p>

				<ul>
					<li><big>Site de Bourg-en-Bresse</big></li>
					<li><big>Site de Villeurbanne Doua</big></li>
					<li><big>Site de Villeurbanne Gratte-Ciel</big></li>
				</ul>

				<p><big>Nous allons vous parler ici du site Villeurbanne la Doua, qui nous concerne tout particuli&egrave;rement.</big></p>

				<hr />
				<p><big>Référence : <a href="http://iut.univ-lyon1.fr/presentation/">http://iut.univ-lyon1.fr/presentation/</a></big></p>

			</div>
		</div>
	</div>
 
{% endblock %}