{# src/KEEG/ActivityBundle/Resources/views/Projects/add.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
	Ajouter un projet {{ parent() }}
{% endblock %}

{% block keegactivities_body %}

	<h3>Formulaire d'ajout</h3>

	<div class="well">
		Ici se trouvera le formulaire d'ajout.
	</div>

	<p>
    	<a href="{{ path('keeg_website_homepage') }}" class="btn btn-default">
      		<i class="glyphicon glyphicon-chevron-left"></i>
      		Retour à l'accueil
    	</a>
  	</p>

{% endblock %}