{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
  A vous de jouer ! {{ parent() }}
{% endblock %}

{% block keegactivities_body %}

	<h3>Projets d'étudiants</h3>
  
  	{% if listeItems|length > 0 %}
	  	{% for item in listeItems %}

	  		{{ render(controller("KEEGActivityBundle:Project:menu", {'limit': 10})) }}

		{% endfor %}
	{% else %}
		Cette section est vide pour l'instant.
	{% endif %}
 
{% endblock %}