{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
  A vous de jouer ! {{ parent() }}
{% endblock %}

{% block keegactivities_body %}

	<h3>Projets d'étudiants</h3>
  
	{{ render(controller("KEEGActivityBundle:Project:menu", {'limit': 4})) }}
 
{% endblock %}