{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
  Projets d'étudiants {{ parent() }}
{% endblock %}

{% block keegactivities_body %}

	<h3>Projets d'étudiants</h3>
  
	{{ render(controller("KEEGActivityBundle:Project:menu", {'limit': 12})) }}

	{# Mettre en place un système de pagination #}
 
{% endblock %}