.listeFooter{
	list-style-type:none;
}

.fixe{
	position:fixed;
}

.textJustify{
	text-align:justify;
}

.espaceTable{
	border-spacing:20px 0px;
	border-collapse:separate;
}

/* starter-template.css */

body {
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* advance -personalization */

.container {
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffffff;
}

.img {
	border-radius: 10px 10px;
	padding-top: 20px;
  padding-bottom: 20px;
}

.thumbnail_wrapper {
    vertical-align:middle;
}
.thumbnail_wrapper > img {
    width:100%;
}