{# src/KEEG/SitewebBundle/Resources/views/layout.html.twig #}

{% extends "KEEGWebsiteBundle::structure.html.twig" %}

{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}

{% block menu %}
  <h3> A vous de jouer ! </h3>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('keeg_activity_questionnaires') }}"> L'informatique : est-ce fait pour moi ?</a></li>
    <li><a href="#"> Hello World ! </a></li>
    <li><a href="#") }}> Quizz </a></li>
    <li><a href="{{ path('keeg_activity_projects') }}"> Testez des projets d'étudiants! </a></li>
  </ul>
{% endblock %}

{% block body %}

  {% block keegactivities_body %}
  {% endblock %}

{% endblock %}