{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
  A vous de jouer ! {{ parent() }}
{% endblock %}


{% block menu %}
	<h3> A vous de jouer ! </h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href={{ path('keeg_activity_quizzInfo') }}> L'informatique : est-ce fait pour moi ?</a></li>
		<li><a href="#"> Hello World ! </a></li>
		<li><a href={{ path('keeg_activity_questionnaires') }}> Quizz </a></li>
		<li><a href="#"> Testez des projets d'étudiants! </a></li>
	</ul>
{% endblock %}

{% block keegactivities_body %}

	<div class="container-fluid well">
		<div class="col-lg-12">
			<div class="row">
				<h4>
					<center> 
						L’informatique est-il un domaine fait pour toi ? 
					<center>
				</h4>
				<div class="col-lg-12">
					<div class="row">
						<p id="question"></p>

							
							<INPUT type= "radio" id="rep1" name="reponse" value=""><span id="reponse1"></span>
							<br>

							<INPUT type= "radio" id="rep2" name="reponse" value=""><span id="reponse2"></span>
							<br>

							<INPUT type= "radio" id="rep3" name="reponse" value=""><span id="reponse3"></span>
							<br>

							<INPUT type= "radio" id="rep4" name="reponse" value=""><span id="reponse4"></span>
							<br>

							<INPUT type= "radio" id="rep5" name="reponse" value=""><span id="reponse5"></span>
							<br>

						<INPUT id="bt_next" type="button" value="Question suivante">
					</div>
				</div>
			</div>
		</div>
	</div>
 
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/questionnaire.js') }}"></script>
{% endblock %}