{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGWebsiteBundle::layout.html.twig" %}

{% block title %}
  Accueil {{ parent() }}
{% endblock %}

{% block keegwebsite_body %}

  <h3>Presentation</h3>

  <div class="well">
	Ici se trouvera la description du site, cf. Introduction de Ophélie R. A réccupérer avec Doctrine.
  </div>

{% endblock %}