{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGWebsiteBundle::layout.html.twig" %}

{% block title %}
  Accueil {{ parent() }}
{% endblock %}

{% block keegwebsite_body %}

  <h3>Presentation</h3>

  <div class="well">
	Ici se trouvera la description du site, cf. Introduction de Ophélie R. A réccupérer avec Doctrine.
  </div>
	
	<center>
  <iframe src="http://prezi.com/embed/kss4xcn4d8fd/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0#" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" frameborder="0" height="400" width="550"></iframe>
  </center>
  
{% endblock %}