{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
  L'univers de l'informatique {{ parent() }}
{% endblock %}

{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}
    


{% block menu %}
	<h3>L'univers de l'informatique </h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">IUT Informatique de Lyon1</a></li>
		<li><a href="#">Les métiers de l'informatique</a></li>
		<li><a href="#">Les formations</a></li>
		<li><a href="#">Loisirs liés à l'informatique</a></li>
	</ul>
{% endblock %}

{% block keegarticle_body %}

  	<h3> Venez découvrir le domaine de l'informatique ! </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">

			<center>
			    <iframe src="http://prezi.com/embed/kss4xcn4d8fd/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0#" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" frameborder="0" height="400" width="550"></iframe>
			</center>

			<div class="row">
				<h4>
					<center> 
						Cette formation est-elle faite pour moi ? 
					<center>
				</h4>
				<br />
				<div class="col-lg-12">
					<div class="row">
						<p class="textJustify">
							<center>
								Tu hésites ? Tu ne sais pas si tu as le profil pour faire de l'informatique ? Pas
								de panique ! Nous avons préparé un super questionnaire afin de cibler ta
								personnalité et de savoir si l'informatique est fait pour toi ou non !
								<br />
								En plus, nous te donnerons aussi un aperçu des différentes formations dans
								le domaine de l'informatique !
								<br />
								Alors qu'est ce que tu attends pour faire ce test ? ;)
							</center>
						</p>
					</div>
					<br />
					<div class="row">
						<center>
							<a href="#"> Je fais le quizz ! </a>
						</center>
					</div>
				</div>
			</div>			
		</div>
	</div>
 
{% endblock %}