{# src/KEEG/SitewebBundle/Resources/views/layout.html.twig #}

{% extends "KEEGWebsiteBundle::structure.html.twig" %}

{% block menu %}
	<h3>Accueil</h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('keeg_website_news') }}">News</a></li>
		<li><a href="{{ path('keeg_website_articles') }}">Articles</a></li>
		<li><a href="{{ path('keeg_website_temoignages') }}">Témoignages</a></li>
	</ul>
{% endblock %}

{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block keegarticle_body %}
  {% endblock %}

{% endblock %}